/* General */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

a:hover {
	color: #198CF7;
}

a:active {
	color: #198CF7;
}

body {
	display: flex;
	width: 100%;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	color: #002240;
	background-color: #ffffff;
	font-size: 16px;
}

.tablet,
.desktop,
.menu {
	display: none;
}

/* Hero */

.header {
	display: flex;
	width: 100%;
	height: 59px;
	align-items: center;
	padding: 0 27px;
}

.header-image {
	width: 128px;
	height: 22px;
}

.hero {
	display: flex;
	align-items: center;
}

.hero-image {
	object-fit: fill;
}

.main-title {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 32px;
	line-height: 32px;
	font-weight: 700;
	margin: 25px 0 20px;
}

.main {
	margin: 17px 0 0;
}

.hero {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 25px;
}

.hero-paragraphs-wrapper {
	margin: 0 0 25px;
}

.hero-paragraph {
	margin: 25px 0;
	line-height: 24px;
}

.hero-paragraph:first-of-type {
	margin: 0 0 25px;
}

.hero-paragraph:last-of-type {
	margin: 25px 0 0;
}

/* Culture */

.culture {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 25px;
}

.culture-title {
	font-weight: 700;
	font-size: 28px;
	line-height: 31px;
	margin: 39px 0px 10px;
}

.culture-top {
	line-height: 24px;
	color: #537089;
	margin: 0 0 30px;
}

.culture-description {
	line-height: 24px;
	margin: 0 0 25px;
	padding: 0 5px;
}

.culture-image {
	width: 56px;
	height: 56px;
	margin: 0 0 10px;
}

.culture-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 0 0 5px;
}

.culture-item {
	display: flex;
	flex-direction: column;
}

.culture-head {
	font-weight: 700;
	margin: 0 0 12px;
}

.culture-content {
	font-size: 16px;
	line-height: 24px;
	margin: 11px 0 30px;
	color: #537089;
}

.culture-content:last-of-type {
	margin: 0 0 35px;
}

.button-team {
	display: flex;
	justify-content: center;
	margin: 0 0 22px;
}

.culture-button {
	display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	width: 272px;
	height: 49px;
	background: #0688FA;
	border-radius: 5px;
}

.culture-button:visited {
	background: #0688FA;
	color: #FFFFFF;
}

.culture-button:hover,
.culture-button:focus {
	background: #1575BE;
}

.culture-button:active {
	background: #1575BE;
	color: #FFFFFF;
}

/* Timeline */

.timeline {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 915px;
}

.timeline-title {
	font-weight: 700;
	font-size: 28px;
	line-height: 31px;
	text-align: center;
	margin: 35px 0;
}

.timeline-list {
	display: flex;
	flex-direction: column;
	height: 817px;
	background-color: #eff8ff;
	padding: 75px 25px;
	position: relative;
}

.timeline-item {
	display: flex;
	width: 100%;
	margin: 0 0 75px;
	z-index: 1;
}

.timeline-item:first-of-type {
	margin: 0 0 75px;
}

.timeline-item:last-of-type {
	margin: 0;
}

.timeline-date {
	color: #0688FA;
	font-weight: 700;
	margin: 10px 0 0;
}

.email-circle {
	min-width: 56px;
	height: 56px;
	border-radius: 100%;
	background-color: #ffffff;
	margin: 0 15px;
	z-index: 1;
}

.email-icon {
	width: 36px;
	height: 28px;
	margin: 13px 9px;
	z-index: 2;
}

.timeline-description {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.progress-line {
	width: 3px;
	background-color: #0688FA;
	height: 100%;
	position: absolute;
	top: 0;
	left: 97px;
	z-index: 0;
}

/* Offices */

.offices {
	display: flex;
	flex-direction: column;
	height: 583px;
	width: 100%;
	align-items: center;
	background: url(../assets/offices-bg.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100% 461px;
	/* Adding the bg image's height in px allows it to stretch horizontally without messing it up vertically */
}

.offices-image {
	width: 56px;
	height: 56px;
	margin: 10px 0 0;
}

/* Clip-Path Version

.offices-bg {
	display: flex;
	height: 583px;
	width: 100%;
	clip-path: polygon(0 5%, 100% 17%, 100% 100%, 0% 100%);
	background: #fff5f5;
} 

*/

.offices-title {
	font-weight: 700;
	font-size: 28px;
	line-height: 31px;
	margin: 30px 0;
	/* z-index: 2; */
}

.offices-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 0 52px;
	/* position: absolute;
	z-index: 1; */
}

.card {
	display: flex;
	flex-direction: column;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.off-card {
	margin: 0 0 37px;
	height: 199px;
	width: 271px;
}

.off-card:last-of-type {
	margin: 0;
}

.card-title {
	font-weight: 700;
	font-size: 26px;
	line-height: 34px;
	margin: 10px 0 5px;
}

.card-text {
	font-size: 16px;
	line-height: 24px;
	color: #002240;
}

/* Investors */

.investors {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../assets/investors-bg.svg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 863px;
	width: 100%;

	/* For Clip-Path
	position: relative; 
	*/

}

/* CLIP-PATH VERSION

.investors-bg {
	display: flex;
	height: 863px;
	width: 100%;
	clip-path: polygon(0 0, 100% 0, 100% 24%, 0 30.7%);
	background: #fff5f5;
	z-index: 0;
} 

Positioning and indices on certain classes within the investors section have been disabled since they have no use if the file isn't using the clip-path version.

*/

.investors-title {
	font-weight: 700;
	font-size: 28px;
	line-height: 31px;
	margin: 35px;

	/* For Clip-Path
	position: absolute;
	z-index: 2; 
	*/
}

.investors-cards {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;

	/* For Clip-Path
	position: absolute; 
	z-index: 2; 
	*/
}

.inv-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.inv-card {
	height: 150px;
	width: 272px;
	margin: 0 0 40px;
}

.inv-card:last-of-type {
	margin: 0 0 55px;
}

/* .circle-blue {
	background-color: #64b4fa;
	object-fit: contain;
	position: absolute;
	width: 141px;
	height: 141px;
	border-radius: 100%;
	top: 97px;
	right: -50px;
	z-index: 3;
}

.circle-yellow {
	background-color: #ffcc33;
	position: absolute;
	width: 171px;
	height: 171px;
	border-radius: 100%;
	top: 133px;
	left: -45px;
	z-index: 3;
} */

.combination-tm {
	width: 220px;
	height: 62px;
}

.monkhill-tm {
	width: 172px;
	height: 86px;
}

.strive-tm {
	width: 160px;
	height: 39px;
}

.wavemaker-tm {
	width: 187px;
	height: 86px;
}

/* LE FUTURE! */

.future {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../assets/future-bgm.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 377px;
	width: 100%;

	/* position: relative; */
}

/* .future-bg {
	display: flex;
	height: 377px;
	width: 100%;
	clip-path: polygon(0 3%, 100% 14%, 100% 100%, 0 100%);
	background: #329dfa;
	z-index: 0;
} */

.future-title {
	margin: 110px 0 0;
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	/* 
	position: absolute;
	z-index: 2; 
	top: 10px; 
	*/

}

.button-future {
	display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 23px;

	/* position: absolute; */
}

.button-demo {
	background: #FFFFFF;
	color: #002240;
	border-radius: 5px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	margin: 55px 0 21px;
	width: 272px;
	height: 49px;
}

.button-cases {
	/* top: 235px; */
	color: #FFFFFF;
	background: #329dfa;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	width: 272px;
	height: 49px;
}

.button-demo:visited {
	background: #FFFFFF;
	color: #002240;
}

.button-cases:visited {
	color: #FFFFFF;
}

.button-future:hover,
.button-future:focus {
	background: #1575BE;
}

.button-demo:hover,
.button-demo:focus {
	color: #FFFFFF;
}

.button-demo:active {
	color: #FFFFFF;
}

.button-cases:active {
	color: #FFFFFF;
}

/* Links */

.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 678px;
	padding: 0 17px 0 27px;
	margin: 35px 0 0;
}

.footer-image {
	width: 128px;
	height: 22px;
	margin: 0 0 27px;
}

.contacts-links {
	display: flex;
	flex-wrap: wrap;
}

.links-main {
	display: flex;
	flex-direction: row;
}

.links {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.links-list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.links-item {
	display: flex;
	margin: 0 20px 10px 0;
	font-size: 14px;
	line-height: 21px;
}

.links-item:last-of-type {
	margin: 0 0 20px;
}

.lcompany {
	margin: 0 20px 16px 0;
}

.links-head {
	font-weight: 700;
	margin: 0 0 10px;
	font-size: 16px;
	line-height: 32px;
}

.links-office {
	font-weight: 700;
	font-size: 14px;
	line-height: 32px;
}

.links-p {
	display: flex;
	margin: 0 0 14px;
	font-size: 14px;
	line-height: 21px;
}

/* Footer */

.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f4f4f4;
	background-image: url(../assets/footerm.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 318px;
	width: 100%;

}

.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 39px 0 20px;
}

.social-icon-m {
	height: 26px;
	width: 26px;
}

.social-button:hover {
	opacity: 0.5; 
}

.social-icon-li {
	display: flex;
	margin: 0 18px 0 0;
}

.social-icon-li:last-of-type {
	margin: 0;
}

.terms {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 0 12px;
	align-items: center;
}

.terms-link {
	display: flex;
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	margin: 0 0 8px;
}

.copyright {
	font-size: 14px;
	line-height: 32px;
	margin: 0 0 30px;
}